# coding = utf-8
# author: holger
# version: 4.0.0
# license: AGPL-3.0
# belong: DailyReport-Predefined

.cmp_dat/
.cmp_dat/*
.idea/
data/user.json
data/mapping.json
data/scheduler.json
data/mail.json
*.log
data/*driver.exe
data/*driver
Pipfile
*.old
configurations/general.json
configurations/user.*.json
old_file/
old_file/*